.BuildControls {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 5px 10px rgba(100, 92, 61, 0.589);
    margin: auto;
    padding: 20px 0 ;
    border-radius: 35px;
    overflow:hidden;
}
@media (max-width: 499px) {
.BuildControls{
    width: 97%;
}

}
h1{
    color: #ff1924b8;
}
.OrderButton {
    background-color: #ff1924b8;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #fff;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #966909;
    margin-top: 20px;
    border-radius: 50px;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #fb000de4;
    border: 1px solid #966909;
    color: #fff;
}

.OrderButton:disabled {
    background-color: #fff;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #ff1924b8;
    font-style: bold;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}