.ContactData{
    margin:20px auto;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    display: block;
    border-radius: 10px ;
    box-shadow: 15px 15px 8px  #888888;
    background-color:  rgba(215, 174, 59, 0.43);
    margin-top: 20px;
    padding-top: 20px;
}
.ContactData input{
    margin-top: 5px;
    height: 35px;
    align-items:center;
    width: 90%;
    border-radius: 10px;
    display:block;
    font-size: 20px;
    color: #673e0c;
}
.ContactData form{
    margin-left: 20px;
}

@media(min-width: 700px) {
    .ContactData{
        width: 700px;
    }
}