.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 20px;
}

.NavigationItem a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 10px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #fff;
    font-weight: bold;
    background-color: #FF1923;
    border-radius: 20px;
    text-align: center;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: #fff;
        padding: 10px;
        border-bottom: 4px solid transparent;
        margin: 10px ;
        border-radius: 26px;

    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #FF1923;
        color: #fff;
        
    }
}